<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ritossa.DevOpsArtifactsCleaner.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ritossa.DevOpsArtifactsCleaner.WinForm.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ritossa.DevOpsArtifactsCleaner.WinForm.Properties.Settings>
            <setting name="UserSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="ProtectedPat" serializeAs="String">
                <value />
            </setting>
        </Ritossa.DevOpsArtifactsCleaner.WinForm.Properties.Settings>
        <Ritossa.DevOpsArtifactsCleaner.WinForm.UserSettings>
            <setting name="ProtectedSettings" serializeAs="String">
                <value />
            </setting>
        </Ritossa.DevOpsArtifactsCleaner.WinForm.UserSettings>
    </userSettings>
</configuration>